.cart {
  background-color: orange;
  padding: 25px;
  position: sticky;
  top: 0;
}
.cart p {
  font-size: 17px;
}
.button-clear {
  width: 100%;
  background-color: orangered;
  margin: 10px auto;
  color: whitesmoke;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
